EMAIL_SEND_URL='https://your-email-sender/url'
EMAIL_SEND_CODE='set-your-email-site-secret-here'

CLOUDFLARE_ACCOUNT_ID='<your account id>'
CLOUDFLARE_DATABASE_ID='<your d1 database id>'
CLOUDFLARE_D1_TOKEN='<your d1 token>'

PO_APP_ID='<your pushover app id - optional>'
PO_USER_ID='<your pushover user id - optional>'

ALTERNATE_ORIGIN='<an alternate URL to your app, e.g. via tailscale>'
NODE_ENV=development
BETTER_AUTH_SECRET='set-your-per-site-secret-here'
